@media screen and (max-width:600px){
    .splash{
        background-color: #E27033;
        font-family: 'Poppins', sans-serif;
        color: white;
        text-align: center;
        height: 100vh;
    }

    .matchscreen{
        
        font-family: 'Poppins', sans-serif;
        
        text-align: center;
        height: 50vh;
    }

    .matchscreen2{
        background-color: #E27033;
     font-family: 'Poppins', sans-serif;
       border-top-right-radius: 150px;
       border-top-left-radius: 150px;
        text-align: center;
        height: 50vh;
        font-weight: 200px;
    }

    .SignupImg{
       
        text-align: center;
        margin-bottom: -5px;
        font-family: 'Poppins', sans-serif;
        color: #797777;
    }

    .SurveyImg{
        display: inline-block;
        margin-left: 10px;
    margin-bottom: -5px;
    }

    .signupTxt{
        background-color: #E27033;
        font-family: 'Poppins', sans-serif;
        color: white;
        text-align: center;
        height: 50vh;
      
        
    }

    .headerMargin{
        margin-top: 0;
    }

    a.link{
        text-decoration: none;
    }

    .splashbtn{
        background-color: white;
        font-family: 'Poppins', sans-serif;
        border: white;
        border-radius: 50px;
        padding: 12px 28px;
        width: 80%;
        font-weight: 700;
        text-decoration: none;
        font-size: medium;
        margin-top: 30px;
    }
    .splashbtn:active{
        background-color: #3E92CC;
    }

    .signUp{
        font-family: 'Poppins', sans-serif;
        width: 80%;
        padding-left: 40px;
    }

    .input{
        padding: 4px 8px;
        border-width: 1.5px;
    }

    .signUpBtn{
        background-color: #E27033;
        font-family: 'Poppins', sans-serif;
        border: white;
        border-radius: 50px;
        padding: 12px 28px;
        width: 80%;
        font-weight: 700;
        text-decoration: none;
        font-size: medium;
        margin-top: 15px;
        color:white;
    }

    .sendMsg{
        background-color: #3E92CC;
        font-family: 'Poppins', sans-serif;
        border: white;
        border-radius: 5px;
        padding: 8px 16px;
        width: 30%;
        font-weight: 700;
        text-decoration: none;
        font-size: medium;
        margin-top: 100px;
        color:white;
        
    }

    .signUpBtn:active{
        background-color: #3E92CC;
    }

    .OnboardingContent{
        text-align: center;
      
        font-family: 'Poppins', sans-serif;
        
    }

    .surveyBtn{
        background-color: #F2F4F5;
        font-family: 'Poppins', sans-serif;
        border: white;
        border-radius: 8px;
        padding: 8px 28px;
        width: 80%;
        font-weight: 400;
        text-decoration: none;
        margin-top: 4px;
    }

    .surveyBtn2{
        background-color: #F2F4F5;
        font-family: 'Poppins', sans-serif;
        border: white;
        border-radius: 8px;
        padding: 8px 28px;
        width: 80%;
        font-weight: 400;
        text-decoration: none;
        margin-top: 30px;
    }

    .surveyBtn2:active{
        background-color: #E27033;
       
    }
}